.mail-info {
    flex-direction: column;
    flex-grow: 1;

}

.mail-info-head {
    justify-content: space-between;
}

.mail-info-head button {
    background: none;
    border: none;
    cursor: pointer;
}

.mail-info h2 {
    font-size: 30px;
}

.mail-info h1 {
    font-size: 50px;
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.73);
}

