.mail-folder-list {
    position: fixed;
    flex-direction: row;
    bottom: 10px;
    min-width: 100vw;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-around;

}

@media(min-width:650px) {
    .mail-folder-list {
        position: static;
        flex-direction: column;
        bottom: 0;
        min-height: 90.3vh;
        min-width: fit-content;
    }
}



.mail-folder-list a {
    padding: 0.7em;
}

.fa-light .fa-pencil::before {
    content: "\f303";
}

.fa-regular .fa-envelope-open::before {
    content: "\f2b6";
}

.fa-regular .fa-star::before {
    content: "\f005";
}

.fa-regular .fa-clock::before {
    content: "\f017";
}

.fa-regular .fa-paper-plane::before {
    content: "\f1d8";
}

.fa-brands .fa-firstdraft::before {
    content: "\f3a1";
}

.fa-light .fa-circle-plus::before {
    content: "\f055";
}

.fa-regular .fa-trash-can::before {
    content: "\f2ed";
}