.mail-content {
    display: flex;
}

.email {
    align-items: center;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

.mail-info-index {
    align-items: center;
    gap: 8px;
}


.mail-info-index:hover {
   font-weight: bold;
}



.email button {
    background: none;
    border: none;
    cursor: pointer;
    align-self: center;

}

.mail-body-preview {
    background-color: #80808018;
    padding: 0.7em;
    border-radius: 5px;

}

.mail-body-preview:hover {
   box-shadow: 0px 13px 15px #615bfc18, 0 19px 15px #615bfc18;
}