.mail-content {
    display: flex;
    min-height: 86.7vh;
}

.email {
    align-items: center;
    padding-left: 0.5em;
}

.mail-info-index {
    align-items: center;
    gap: 8px;
}

.mail-info-index:hover {
   font-weight: bold;
}

.email input {
    width: 15px;
}

.email button {
    background: none;
    border: none;
    cursor: pointer;
    align-self: center;
    /* background-color: black; */
}