.mail-content {
    display: flex;
}

.email {
    /* gap: 10px; */
    align-items: center;
    padding-left: 0.5em;
    min-width: 450px;
}
.mail-info-index {
    align-items: center;
    gap: 5px;
}

.mail-info-index:hover {
    border: 1px solid var(--email-color);
}

.email:hover {
    scale: 1.01;
}
.email input {
    width: 15px;
}

.email button {
    background: none;
    border: none;
    cursor: pointer;
    /* background-color: black; */
}