@media(max-width:650px) {
    .mail-folder-list {
        position: fixed;
        flex-direction: row;
        bottom: 0;
        min-width: 100vw;
        background-color: #d4dff5;
        align-items: center;
        justify-content: space-around;
    }


    .mail-folder-list .active {
        position: relative;
        bottom: 15px;
        border-radius: 25px;
        background-color: rgba(240, 248, 255, 0.705);
    }
}

.mail-index {
    height: 92vh;
}

@media(min-width:650px) {
    .mail-folder-list {
        flex-direction: column;
        bottom: 0;
        min-width: fit-content;
        background-color: #d4dff5;
        align-items: center;
        justify-content: space-around;
        min-height: 92vh;
        padding-bottom: 0px;
    }

    .mail-folder-list .active {
        left: 15px;
        position: relative;
        border-radius: 25px;
        background-color: rgba(240, 248, 255, 0.705);
    }
}

.mail-folder-list a {
    padding: 0.7em;
    cursor: pointer;
}


.fa-regular .fa-envelope-open::before {
    content: "\f2b6";
}

.fa .fa-regular .fa-star::before {
    content: "\f005";
}

.fa-regular .fa-clock::before {
    content: "\f017";
}

.fa-regular .fa-paper-plane::before {
    content: "\f1d8";
}

.fa-brands .fa-firstdraft::before {
    content: "\f3a1";
}

.fa-light .fa-circle-plus::before {
    content: "\f055";
}

.fa-regular .fa-trash-can::before {
    content: "\f2ed";
}

.fa-light .fa-inbox::before {
    content: "\f01c";
}

.fa-sharp .fa-solid .fa-star::after {
    content: '\f005';
}