.mail-info {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    min-width: 350px;
    border: 0.5px solid var(--email-color);
}


.mail-info p {
    padding: 0 1em;
}

.mail-info small {
    position: absolute;
    bottom: 75px;
}

.mail-info-head {
    justify-content: space-between;
}

.mail-info button {
    background: none;
    border: none;
    cursor: pointer;
}

.mail-info h2 {
    font-size: 30px;
}

.mail-info h1 {
    font-size: 50px;
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.73);
}