.note-item{
    border-radius: 25px;
    padding-block: 0.75em;
    padding-inline: 10px;
    margin: 20px;
    width: 100%;
}

.note-item>.title{
    font-weight: 1000;
}

.note-item>.text{
    white-space: pre-wrap;
}

.note-item>.image{
    width: 200px;
}
