@import '../cmps/note-item.css';
@import '../cmps/note-editor.css';

.notes-layout{
    margin-block-start: 30px;
    padding-inline: var(--page-padding);
    /* font-family:'Courier New', Courier, monospace; */
    display: flex;
    flex-direction: column;
}

.note-gallery{
    grid-template-columns: repeat(auto-fit, 240px);
    gap: 10px;
    width: auto;
    padding-block-start: 20px;
    justify-content: center;
}