@import '../cmps/note-item.css';
@import '../cmps/note-editor.css';

.notes-layout{
    margin-block-start: 30px;
}

.note-gallery{
    grid-template-columns: repeat(auto-fit, 240px);
    gap: 10px;
    width: auto;
    padding-block-start: 20px;
}